<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd"
	default-autowire="byName">

	<context:annotation-config />

	<bean name="toolbarItemManager" class="it.geosolutions.georepo.gui.client.ToolbarItemManager">
		<property name="clientTools">
			<list>
				<ref bean="toolbarSeparator" />
				<!-- ref bean="toolbarSeparator1" / -->
                <!-- ref bean="toolbarSeparator2" / -->
                <!-- ref bean="toolbarSeparator3" / -->
                <!-- ref bean="toolbarSeparator4" / -->
				<ref bean="zoomIn" />
				<ref bean="zoomOut" />
				<!-- ref bean="drawFeature" / -->
				<!-- ref bean="uploadSHP" / -->
				<!-- ref bean="quartzButton" / -->
				<ref bean="logout" />
                <!-- ref bean="cleanDGWMenu" / -->
                <!-- ref bean="save" / -->
                <!-- ref bean="deleteContent" / -->
                <!-- ref bean="administrationMode" / -->
			</list>
		</property>
	</bean>
	
	<bean name="zoomIn"
		class="it.geosolutions.georepo.gui.client.configuration.ActionClientTool">
		<property name="id" value="zoomIn" />
		<property name="type" value="button" />
		<property name="enabled" value="true" />
		<property name="order" value="10" />
	</bean>
	
	<bean name="zoomOut"
		class="it.geosolutions.georepo.gui.client.configuration.ActionClientTool">
		<property name="id" value="zoomOut" />
		<property name="type" value="button" />
		<property name="enabled" value="true" />
		<property name="order" value="20" />
	</bean>
	
	<bean name="toolbarSeparator"
		class="it.geosolutions.georepo.gui.client.configuration.GenericClientTool">
		<property name="id" value="ToolbarSeparator" />
		<property name="order" value="30" />
	</bean>
	
	<bean name="drawFeature"
		class="it.geosolutions.georepo.gui.client.configuration.ActionClientTool">
		<property name="id" value="drawFeature" />
		<property name="type" value="toggle" />
		<property name="enabled" value="false" />
		<property name="order" value="40" />
	</bean>
	
	<bean name="uploadSHP"
		class="it.geosolutions.georepo.gui.client.configuration.ActionClientTool">
		<property name="id" value="uploadSHP" />
		<property name="type" value="button" />
		<property name="enabled" value="true" />
		<property name="order" value="50" />
	</bean>
	
	<bean name="toolbarSeparator1"
		class="it.geosolutions.georepo.gui.client.configuration.GenericClientTool">
		<property name="id" value="ToolbarSeparator" />
		<property name="order" value="60" />
	</bean>
	
    <bean name="toolbarSeparator2"
        class="it.geosolutions.georepo.gui.client.configuration.GenericClientTool">
        <property name="id" value="ToolbarSeparator" />
        <property name="order" value="80" />
    </bean>

    <bean name="save"
        class="it.geosolutions.georepo.gui.client.configuration.ActionClientTool">
        <property name="id" value="save" />
        <property name="type" value="button" />
        <property name="enabled" value="true" />
        <property name="order" value="90" />
    </bean>

    <bean name="deleteContent"
        class="it.geosolutions.georepo.gui.client.configuration.ActionClientTool">
        <property name="id" value="deleteContent" />
        <property name="type" value="button" />
        <property name="enabled" value="true" />
        <property name="order" value="100" />
    </bean>

    <bean name="quartzButton"
        class="it.geosolutions.georepo.gui.client.configuration.MenuClientTool">
        <property name="id" value="quartzMonitoring" />
        <property name="order" value="70" />
        <property name="enabled" value="true" />
        <property name="actionTools">
            <list>
                <ref bean="quartzTriggerA" />
                <ref bean="quartzTriggerB" />
                <ref bean="quartzTriggerC" />
            </list>
        </property>
    </bean>

	<bean name="quartzTriggerA"
		class="it.geosolutions.georepo.gui.client.configuration.ActionClientTool">
		<property name="id" value="quartzTriggerA" />
		<property name="type" value="menuItem" />
		<property name="enabled" value="true" />
		<property name="order" value="10" />
	</bean>
	
	<bean name="quartzTriggerB"
		class="it.geosolutions.georepo.gui.client.configuration.ActionClientTool">
		<property name="id" value="quartzTriggerB" />
		<property name="type" value="menuItem" />
		<property name="enabled" value="true" />
		<property name="order" value="20" />
	</bean>
	
	<bean name="quartzTriggerC"
		class="it.geosolutions.georepo.gui.client.configuration.ActionClientTool">
		<property name="id" value="quartzTriggerC" />
		<property name="type" value="menuItem" />
		<property name="enabled" value="true" />
		<property name="order" value="30" />
	</bean>
	
	<bean name="cleanDGWMenu"
		class="it.geosolutions.georepo.gui.client.configuration.ActionClientTool">
		<property name="id" value="cleanDGWMenu" />
		<property name="type" value="button" />
		<property name="enabled" value="true" />
		<property name="order" value="200" />
	</bean>

    <bean name="toolbarSeparator4"
        class="it.geosolutions.georepo.gui.client.configuration.GenericClientTool">
        <property name="id" value="ToolbarSeparator" />
        <property name="order" value="210" />
    </bean>

    <bean name="administrationMode"
        class="it.geosolutions.georepo.gui.client.configuration.AdministrationModeClientTool"
        init-method="init">
        <property name="id" value="administrationMode" />
        <property name="order" value="220" />
        <property name="enabled" value="true" />
        <property name="label" value="Administration mode"/>
        <property name="defaultValue" value="NOTIFICATION_DISTRIBUTION"/>
        <property name="allowBlank" value="false"/>

    </bean>

    <bean name="toolbarSeparator3"
        class="it.geosolutions.georepo.gui.client.configuration.GenericClientTool">
        <property name="id" value="ToolbarSeparator" />
        <property name="order" value="230" />
    </bean>

    <bean name="logout"
        class="it.geosolutions.georepo.gui.client.configuration.ActionClientTool">
        <property name="id" value="logout" />
        <property name="type" value="button" />
        <property name="enabled" value="true" />
        <property name="order" value="240" />
    </bean>


</beans>