<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


	<!-- pick up all spring application contexts -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath*:/applicationContext-common.xml
            classpath:applicationContext-client.xml
            classpath*:applicationContext.xml
        </param-value>
	</context-param>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>log4j.properties</param-value>
    </context-param>

	<!-- spring context loader -->
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

	<servlet>
		<servlet-name>ConfigurationRemote</servlet-name>
		<servlet-class>it.geosolutions.georepo.gui.server.gwt.ConfigurationRemoteImpl</servlet-class>
		<load-on-startup>1</load-on-startup>

	</servlet>
	<servlet-mapping>
		<servlet-name>ConfigurationRemote</servlet-name>
		<url-pattern>/georepo/ConfigurationRemote</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LoginRemote</servlet-name>
		<servlet-class>it.geosolutions.georepo.gui.server.gwt.LoginRemoteImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginRemote</servlet-name>
		<url-pattern>/georepo/LoginRemote</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>remoteLoggingServiceImpl</servlet-name>
		<servlet-class>com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl</servlet-class> 
	</servlet> 
	<servlet-mapping> 
	    <servlet-name>remoteLoggingServiceImpl</servlet-name> 
	    <url-pattern>/georepo/logging</url-pattern> 
	</servlet-mapping>

	<!-- *****************************************************************************************  -->
	<!-- **                                TAB WIDGETS                                          **  -->
	<!-- *****************************************************************************************  -->
	<servlet>
		<servlet-name>GsUsersManagerServiceRemote</servlet-name>
		<servlet-class>it.geosolutions.georepo.gui.server.gwt.GsUsersManagerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GsUsersManagerServiceRemote</servlet-name>
		<url-pattern>/georepo/GsUsersManagerServiceRemote</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProfilesManagerServiceRemote</servlet-name>
		<servlet-class>it.geosolutions.georepo.gui.server.gwt.ProfilesManagerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfilesManagerServiceRemote</servlet-name>
		<url-pattern>/georepo/ProfilesManagerServiceRemote</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InstancesManagerServiceRemote</servlet-name>
		<servlet-class>it.geosolutions.georepo.gui.server.gwt.InstancesManagerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InstancesManagerServiceRemote</servlet-name>
		<url-pattern>/georepo/InstancesManagerServiceRemote</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RulesManagerServiceRemote</servlet-name>
		<servlet-class>it.geosolutions.georepo.gui.server.gwt.RulesManagerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RulesManagerServiceRemote</servlet-name>
		<url-pattern>/georepo/RulesManagerServiceRemote</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WorkspacesManagerServiceRemote</servlet-name>
		<servlet-class>it.geosolutions.georepo.gui.server.gwt.WorkspacesManagerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkspacesManagerServiceRemote</servlet-name>
		<url-pattern>/georepo/WorkspacesManagerServiceRemote</url-pattern>
	</servlet-mapping>
	
	<!-- *****************************************************************************************  -->
	<!-- **                                DISPATCHER                                           **  -->
	<!-- *****************************************************************************************  -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>it.geosolutions.georepo.gui.server.UploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/georepo/upload</url-pattern>
	</servlet-mapping>

	<!-- Open proxy to circumvent cross-domain XmlHTTPRequest restrictions.
-->
	<servlet>
		<servlet-name>GwtOpenlayersProxy</servlet-name>
		<servlet-class>
			org.gwtopenmaps.openlayers.server.GwtOpenLayersProxyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GwtOpenlayersProxy</servlet-name>
		<url-pattern>/gwtOpenLayersProxy/*</url-pattern>
	</servlet-mapping>

	<!-- CXF Servlet -->
	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/serv/*</url-pattern>
	</servlet-mapping>

    <!-- Spring remoting -->
    <servlet>
        <servlet-name>remoting</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>remoting</servlet-name>
        <url-pattern>/remoting/*</url-pattern>
    </servlet-mapping>
    
  <servlet>
		<servlet-name>WorkspacesManagerServiceRemote</servlet-name>
		<servlet-class>it.geosolutions.georepo.gui.server.gwt.WorkspacesManagerServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WorkspacesManagerServiceRemote</servlet-name>
		<url-pattern>/georepo/WorkspacesManagerServiceRemote</url-pattern>
	</servlet-mapping>
	
		<!-- external graphic file upload servlet 
	<servlet>
		<servlet-name>ExternalGraphicUploadServlet</servlet-name>
		<servlet-class>
			it.geosolutions.georepo.gui.server.upload.ExternalGraphicUploadServlet</servlet-class>
		<load-on-startup>8</load-on-startup>
	</servlet>-->

	<!-- sld file upload servlet 
	<servlet>
		<servlet-name>SLDUploadServlet</servlet-name>
		<servlet-class>
			it.geosolutions.georepo.gui.server.upload.SLDUploadServlet</servlet-class>
		<load-on-startup>8</load-on-startup>
	</servlet>-->

	<!-- sld file save servlet 
	<servlet>
		<servlet-name>SLDSaveServlet</servlet-name>
		<servlet-class>
			it.geosolutions.georepo.gui.server.upload.SLDSaveServlet</servlet-class>
		<load-on-startup>8</load-on-startup>
	</servlet>-->

	<!-- sld servlet 
	<servlet>
		<servlet-name>StyleServlet</servlet-name>
		<servlet-class>
			it.geosolutions.georepo.gui.server.upload.StyleServlet</servlet-class>
		<load-on-startup>8</load-on-startup>
	</servlet>-->

	<!-- servlet-mapping>
		<servlet-name>ExternalGraphicUploadServlet</servlet-name>
		<url-pattern>/georepo/ExternalGraphicUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SLDUploadServlet</servlet-name>
		<url-pattern>/georepo/SLDUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SLDSaveServlet</servlet-name>
		<url-pattern>/georepo/SLDSaveServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StyleServlet</servlet-name>
		<url-pattern>/georepo/StyleServlet</url-pattern>
	</servlet-mapping-->
	
	<!-- Proxy Servlet
	<servlet>
		<servlet-name>HttpProxy</servlet-name>
		<servlet-class>it.geosolutions.georepo.gui.server.servlet.HTTPProxy</servlet-class>
		<init-param>
			<param-name>proxyHost</param-name>
			<param-value>localhost</param-value>
		</init-param>
		<init-param>
			<param-name>proxyPort</param-name>
			<param-value>80</param-value>
		</init-param>
		<init-param>
			<param-name>proxyPath</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>maxFileUploadSize</param-name>
			<param-value></param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>HttpProxy</servlet-name>
		<url-pattern>/georepo/proxy</url-pattern>
	</servlet-mapping> -->
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Application.html</welcome-file>
	</welcome-file-list>

</web-app>
