/** Add css rules here for your application. */

.x-loading-status {   
  background-image: url(dgwatch/resources/images/loading.gif);
}
.x-status-ok {   
  background-image: url(dgwatch/resources/images/ok.png);
}
.x-status-not-ok {   
  background-image: url(dgwatch/resources/images/not_found.png);
}
.x-status-error {   
  background-image: url(dgwatch/resources/images/error.png);
}
.x-dgwatch-cancel {   
  background-image: url(dgwatch/resources/images/cancel.png);
}
.x-dgwatch-update {   
  background-image: url(dgwatch/resources/images/icon_update.png);
}
.x-dgwatch-reset {   
  background-image: url(dgwatch/resources/images/reset.png);
}
.x-dgwatch-save {   
  background-image: url(dgwatch/resources/images/save.png);
}
.x-dgwatch-submit {   
  background-image: url(dgwatch/resources/images/submit.png);
}
.x-dgwatch-login {   
  background-image: url(dgwatch/resources/images/login.png);
}
.x-dgwatch-select {   
  background-image: url(dgwatch/resources/images/select.png);
}
.x-dgwatch-unshare {   
  background-image: url(dgwatch/resources/images/unshare.png);
}
.x-dgwatch-filter {   
  background-image: url(dgwatch/resources/images/filter_ogc.png);
}
.x-dgwatch-features {   
  background-image: url(dgwatch/resources/images/show_features.png);
}
.x-dgwatch-clear {   
  background-image: url(dgwatch/resources/images/eraser_minus.png);
}
.x-dgwatch-quartz {   
  background-image: url(dgwatch/resources/images/quartz.png);
}
.x-dgwatch-clock {   
  background-image: url(dgwatch/resources/images/Clock-Icon.png);
}
.x-dgwatch-add {   
  background-image: url(dgwatch/resources/images/email_add.png);
  background-position:center; 
}
.x-dgwatch-delete {   
  background-image: url(dgwatch/resources/images/email_delete.png);
  background-position:center; 
}
.x-dgwatch-edit {   
  background-image: url(dgwatch/resources/images/email_edit.png);
  background-position:center; 
}
