/** Add css rules here for your application. */

.x-loading-status {   
  background-image: url(georepo/resources/images/loading.gif);
}
.x-status-ok {   
  background-image: url(georepo/resources/images/ok.png);
}
.x-status-not-ok {   
  background-image: url(georepo/resources/images/not_found.png);
}
.x-status-error {   
  background-image: url(georepo/resources/images/error.png);
}
.x-georepo-cancel {   
  background-image: url(georepo/resources/images/cancel.png);
}
.x-georepo-update {   
  background-image: url(georepo/resources/images/icon_update.png);
}
.x-georepo-reset {   
  background-image: url(georepo/resources/images/reset.png);
}
.x-georepo-save {   
  background-image: url(georepo/resources/images/save.png);
}
.x-georepo-submit {   
  background-image: url(georepo/resources/images/submit.png);
}
.x-georepo-login {   
  background-image: url(georepo/resources/images/login.png);
}
.x-georepo-select {   
  background-image: url(georepo/resources/images/select.png);
}
.x-georepo-unshare {   
  background-image: url(georepo/resources/images/unshare.png);
}
.x-georepo-filter {   
  background-image: url(georepo/resources/images/filter_ogc.png);
}
.x-georepo-features {   
  background-image: url(georepo/resources/images/show_features.png);
}
.x-georepo-clear {   
  background-image: url(georepo/resources/images/eraser_minus.png);
}
.x-georepo-quartz {   
  background-image: url(georepo/resources/images/quartz.png);
}
.x-georepo-clock {   
  background-image: url(georepo/resources/images/Clock-Icon.png);
}
.x-georepo-add {   
  background-image: url(georepo/resources/images/email_add.png);
  background-position:center; 
}
.x-georepo-delete {   
  background-image: url(georepo/resources/images/email_delete.png);
  background-position:center; 
}
.x-georepo-edit {   
  background-image: url(georepo/resources/images/email_edit.png);
  background-position:center; 
}
